# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Octizen local data
storage/octizen.db
storage/octizen.db-wal
storage/octizen.db-shm
storage/files/
